---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Card from '../../components/Card.astro';
import RelatedContent from '../../components/RelatedContent.astro';
import SocialShare from '../../components/SocialShare.astro';
import { formatDate } from '../../utils/date';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const readingTime = Math.ceil(entry.body.split(' ').length / 200);
const currentUrl = new URL(Astro.url.pathname, Astro.url.origin).href;
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <article class="prose mx-auto">
    <h1>{entry.data.title}</h1>
    <div class="flex items-center italic gap-2 text-gray-500 mb-2">
      <span>Posted on {formatDate(entry.data.date)}</span>
      <span>•</span>
      <span>{readingTime} min read</span>
    </div>
 
    {entry.data.image && (
     <img 
        src={entry.data.image} 
        alt={entry.data.title} 
        class="w-full h-auto rounded-lg shadow-lg mb-8"
      />
    )}
    
    <Content />

    <div class="flex flex-wrap gap-2 mb-6">
      {entry.data.categories.map(category => (
        <a 
          href={`/categories/${category.toLowerCase()}`}
        >
          <button class="px-4 py-2 text-white no-underline hover:no-underline bg-blue-600 hover:bg-blue-800 transition-colors rounded">{category}</button>
        </a>
      ))}
    </div>
    
    <SocialShare url={currentUrl} title={entry.data.title} />
    
    <RelatedContent currentPost={{
      category: entry.data.categories[0],
      slug: entry.slug
    }} />
  </article>
</BaseLayout>
